body{
    align-items: center;
    text-align: center;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    
}
img{
    height: 780px;
    width: 600px;
    margin: 10%;
    padding: 10%
    
}
/* img:hover {
    content: url('onBulb.png');
    height: 20%;
    width: 30%;
} */
.btn-warning{
    margin-left: 100px;
    margin-right: 100px;
}
